@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype')
}
/* justify mesurments about borders */
* {
    box-sizing: border-box;
}
/* make links on same page going smooth */
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'OpenDyslexic-Regular', Georgia, Arial, Helvetica, sans-serif, serif;
    text-underline-offset: 4px;
    
    display: grid;
    grid-template-columns: fit-content(260px) 1fr;
    overflow-wrap: break-word;
    min-height: 100vh;
    margin: 0;
    padding:30px 24px;
    gap:15px;

    background-image: url("../imgs/brick_wall.webp");
    background-attachment: fixed;
}
