main {
  max-width: 850px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

header,
footer,
section,
.container {
  background-color: var(--bg-color);
  line-height: 1.6;
  border-radius: 10px;
}

.content-spacing {
  padding: 5px 20px;
  margin: 5px 0px;
}

.content-spacing::after {
  content: "";       /* 1. Crea un elemento invisibile alla fine della section */
  display: table;    /* 2. Lo rende un blocco strutturale */
  clear: both;       /* 3. Blocca il float e ripristina l'altezza reale */
}

hr {
    border: none;
    border-top: 5px solid var(--accent);
    margin: 25px;
    border-radius: 50%;
}