/*
    this is my first style css file
*/
@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype')
}
/* justify mesurments about borders */
* {
    box-sizing: border-box;
}
/* make links on same page going smooth */
html {
  scroll-behavior: smooth;
}
.container{
  display: block;
}
header, footer, div {
    padding: 20px;
}
header h1 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 2px solid #ffb056;
    border-top: 2px solid #ffb056;
    position: relative;
}
header h1:hover {
    color: transparent;
}
header h1:hover::after {
    content: "Mattonazzo";
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
h2 {
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 16px;
  padding-bottom: 6px;
}
hr {
    border: none;
    border-top: 3px solid rgba(202, 91, 26,0.15);
    margin: 25px;
}
nav {
    display: flex;    /* horizontal layout */
    list-style: none;    /* remove dots */
    gap: 10px;           /* space between buttons */
    padding: 8px 16px;
    margin: 0;
    justify-content: space-around; /* distribute buttons uniformly */
    flex-wrap: wrap; /* wrap to next line if needed */
}
nav a {
    padding: 4px 8px;
    color: black;
    text-decoration: none;
}
nav a:hover::before {content: "<";}
nav a:hover::after {content: ">";}
body {
    font-family: 'OpenDyslexic-Regular', Georgia, Arial, Helvetica, sans-serif, serif;
    text-underline-offset: 4px;
    
    max-width: 770px;
    padding: 40px 24px;
    margin: 0 auto;

    background-image: url("../imgs/brick_wall.webp");
    background-attachment: fixed;
}
body * {
    background-color: #f8d490;
    border-radius: 10px;
    line-height: 1.6;
}
.about {
    padding: 5px 20px;
    margin: 5px 0px;

}
.about li {
    padding: 5px;
    margin: 5px;
    /* inline blocks variant */
    display: inline-block; 
    box-sizing: border-box;  /* padding does not add to the total width */
    border-radius: 10px;
    background-color: rgb(190, 78, 13);
    color: white;
    /* impiled blocks variant */
    /*display: block; 
    width: fit-content;*/
}
.container section {
  display: flex;
  border-radius:0%;
  justify-content: space-between; /* fit the title to the left and the text to the right */
  align-items: center; /* Aligns both on top alto (optional) */
  gap: 20px; /* fixed distance between title and content */
  margin-bottom: 20px; /* Space between sections */
  border-bottom: 2px solid #ffb056; /* Optional: separator */
  padding-bottom: 10px;
}
.container section h3 {
  flex-grow: 0; /*the element doesn't expand if ther isn't space enough*/
  flex-shrink: 0; /* the element doesn't shrink if ther isn't space enough */
  flex-basis: 20%; /* widht is 30% of parent's eritage */
  margin: 0; /* Remove default margins for a better alignement */
}
.container section p {
  flex: 1; /* paragraf takes the remaign space */
  margin: 0;
  text-align: left;
}
#github-link {
    color: rgb(187, 44, 0);
    font-weight: bold;
}
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width:70px;
    height: 70px;
    padding: 1%;
    border-radius: 50%;
}
/* under 480px visualize in one column */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}