/*
    this is my first style css file
*/
@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype')
}
.container{
  display: flex;
}
header, footer {
        background-color: #49a167;
        padding: 20px;
    }
h1 {
    text-align: center;
}
article h2 {
    color: chartreuse;
    background-color: crimson;
}
article {
    padding: 1%;
    margin:1%;
    background-color: rgb(204, 0, 255);
}
article.left {
  width: 26%;
}
article.right {
  width: 66%;
}
span {
    color: rgb(255, 153, 0);
    font-weight: bold;
}
body {
    font-family: 'OpenDyslexic-Regular', Georgia, Arial, Helvetica, sans-serif;
    text-underline-offset: 4px;

    background-color: ivory;
    
    padding: 20px;
    margin: 10px;
}
dt {
    font-weight: bold;
    margin-top: 10px;
}
article li {
    padding: 5px;
    margin: 5px;
    /* inline blocks variant */
    display: inline-block; 
    box-sizing: border-box;  /* padding does not add to the total width */
    /* impiled blocks variant */
    /*display: block; 
    width: fit-content;*/
}
article li:nth-of-type(2n+1) {color: darkblue; background-color: lightgreen;}
article li:nth-of-type(2n+2) {color: darkgreen; background-color: lightblue;}
nav ul {
    display: flex;    /* horizontal layout */
    list-style: none;    /* remove dots */
    gap: 10px;           /* space between buttons */
    padding: 8px 16px;
    background-color: #333; /* background color all over the nav */
    margin: 0;
    justify-content: space-around; /* distribute buttons uniformly */
    flex-wrap: wrap; /* wrap to next line if needed */
}
nav li a {
    display: inline-block;
    padding: 4px 8px;
    color: white;
    text-decoration: none;
}
nav a:hover::before {content: "<";}
nav a:hover::after {content: ">";}
dd {
    quotes: "\201C" "\201D";
}
dd::before { content: open-quote; }
dd::after  { content: close-quote; }
#github-link {
    color: rgb(255, 150, 14);
    font-weight: bold;
}
#top-arrow {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
/* under 480px visualize in one column */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  article.left,
  article.right {
    width: 100%;
  }
}