/*
    this is my first style css file
*/
header, footer {
        background-color: #49a167;
        padding: 20px;
    }
    h1 {
        text-align: center;
    }
    span {
        color: rgb(255, 153, 0);
        font-weight: bold;
    }
    body {
        font-family: disable, sans-serif, Arial, Helvetica, sans-serif;
        background-color: ivory;
        
        padding: 20px;
        margin: 10px;
    }
    dt {
        font-weight: bold;
        margin-top: 10px;
    }