a:link {
  color: var(--link);
  text-decoration: underline;
  font-weight: 600;
}
a:visited {
  color: var(--visited);
}
a:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
a.project-link{
    padding: 5px;
    /*margin: 5px;*/
    display: inline-block;
    box-sizing: border-box;  /* padding does not add to the total width */
    border-radius: 12px;
    background-color: var(--accent-dark);
    color: white;
    margin-left:auto;
    white-space: nowrap;
}
a.project-link:link,
a.project-link:visited,
a.project-link:hover {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: var(--accent-dark);
  border-radius: 12px;
}

a.project-link::after {
    content: " →";
    /*font-size:1.4em;*/
    display: inline-block;
}

a.project-link:hover {
    background-color: var(--link-peculiar);
}
a.project-link:hover::after {
    transform: translateX(4px);
}

p:has(a.project-link) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
    display: inline-block;
    background: linear-gradient(
        to right,
        transparent,
        var(--accent-gold),
        transparent
    );
}
hr {
    border: none;
    border-top: 3px solid var(--accent);
    margin: 25px;
}