#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;

    background: radial-gradient(
        circle at 20% 30%, 
        var(--bg-color) 0%,
        var(--accent) 20%,
        var(--accent-light-gold) 40%,
        var(--accent-gold) 60%,
        var(--accent-dark) 80%,
        var(--accent-darkest) 100%);
        
    width:70px;
    height: 70px;
    padding: 1%;
    border-radius: 50%;
    z-index: 1000;
}