.container-grid {
  display: grid;
  /* Crea colonne affiancate se c'è spazio (minimo 300px l'una), altrimenti le impila */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 15px;
}

.container-grid a:link,
.container-grid a:hover,
.container-grid a:visited {
  text-decoration: none;
}