header {
  grid-column: 1 / -1;
  padding: 25px;
}

header h1 {
  font-size: 2.2em;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 3px solid var(--accent);
  border-top: 3px solid var(--accent);
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border-radius: 20px;
}
header h1:hover {
    color: transparent;
    padding-top: 60px;
    padding-bottom: 60px;
}
header h1:hover::before {
    content: "Mattonazzo";
    color: black;
    display: block;

    position:absolute;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
}
header h1:hover::after {
  content: "";
  
  position:absolute;
  top:35%;
  display: block;
  width: 85px;
  height: 85px;

  margin: 0 auto;
  
  background-image: url("../../imgs/mattonazzo-apple-touch-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header p {
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 10px;
}

h2 {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding: 0.4rem 12px;
    display: inline-block;
    background: linear-gradient(
        to right,
        transparent,
        var(--accent-gold),
        transparent
    );
}

.heading-topic,
.topic-heading {
    font-size: 1em; 
    
    font-weight: 700; 
    
    color: var(--link-dark); 
    
    margin-top: 25px;
    margin-bottom: 10px;
    
    display: inline-block;
    background: linear-gradient(
        to right,
        transparent,
        rgba(var(--link-peculiar-rgb), 0.3),
        rgba(var(--link-peculiar-rgb), 0.4),
        rgba(var(--link-peculiar-rgb), 0.3),
        transparent
    );
        
    padding: 0.4rem 12px;
    
    letter-spacing: 1px; 
}