#sidebar {
    padding: 2rem 0;

    grid-column: 1;
    align-self: start; 
    position: sticky;
    top: 40px;

    border-radius: 10px;

    background-color: var(--bg-color);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin: 0;
}

#sidebar ul li a {
    font-size: 1.1rem;
    display: block;
    padding: 0.8rem 2rem;
    transition: color 0.3s ease;
}

#sidebar ul li a:link,
#sidebar ul li a:visited {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#sidebar #github-link,
#sidebar #github-link:link,
#sidebar #github-link:visited {
    color: var(--accent-dark);
}

#sidebar ul li a:hover,
#sidebar #github-link:hover {
  color: white;
  background: linear-gradient(
        to right,
        transparent,
        var(--accent-dark),
        transparent);
}

.menu-check {
    display: none;
}

.menu-toggle,
.menu-close {
  display: none; /* Hide the checkbox */
}

#sidebar .sub-nav-links {
    padding-left: 1rem;
}
#sidebar .active-page {
    background: linear-gradient( to right, transparent, var(--accent), transparent );
}