.content-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1
  );
}

.content-table th,
.content-table td {
  border: 1px solid var(--accent);
  padding: 8px;
}