.about {
    padding: 5px 20px;
    margin: 5px 0px;

}
.about li {
    padding: 5px;
    margin: 5px;
    /* inline blocks variant */
    display: inline-block; 
    box-sizing: border-box;  /* padding does not add to the total width */
    border-radius: 12px;
    background-color: rgb(190, 78, 13);
    color: white;
    /* impiled blocks variant */
    /*display: block;
    width: fit-content; */
}